extends layout.pug

block content
    a(href="http://localhost:3000") Home 
    a(href="http://localhost:3000/test")  Page 2
    section#content
        h2= prompt
        if hint
            p
                i Hint: #{hint}