extends layout.pug

block content
    section#content
        h2= text
        if hint
            p
                i Hint: #{hint}
        if side==="question"
            a(href=`http://localhost:3000/cards/${id}?side=answer`) Answer
        else if side==="answer"
            a(href=`http://localhost:3000/cards/${id}?side=question`) Question
        br
        p
            a(href="/cards") Next Card
