html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Hello
    body
        header
            h1 Testing Page
            nav
                ul#nav
                    li
                        a(href="http://localhost:3000") Home
                    li
                        a(href="#") About
                    li
                        a(href="#") Products
                    li
                        a(href="#") Contact
        #main
            p Coo with rabbits ect. bull bowels cat chicken cow, calf donkey duck. Mouse soybeans sweet corn hogs llamas or oink oink wind. Grapes at yams mushrooms organic berries gobble. Gourds utters at welding equipment a oink oink haybine. Ewes fox. Petting zoo bulls, Ducks in cabbage on, cauliflower irrigation Seeder onion. Outhouse at nails mower. Killer scourge scared, drowning helpless sheep at, farmers market and cultivator ostrich.
            
