doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Flash Cards
    body
        header
            h1 Flash Cards
            a(href="http://localhost:3000/hello") Page 2 
            a(href="http://localhost:3000/cards")  Cards
        section#content
            h2 Welcome, student!
        footer
            p An app to help you study