extends layout.pug

block content
    a(href="http://localhost:3000/test") Testing-Area 
    a(href="http://localhost:3000/cards")  Cards
    section#content
        h2 Welcome, #{name}!
        form(action="/goodbye" method="post")
            button(type="submit") Goodbye
